/* Header */

/* Navigation */

nav image {
    border: none;
}

nav li {
    background-image: url(../images/nav_background.gif);
    padding: 0;
    margin: 0;
    display: block;
    width: 136px;
    height: 65px;
}

nav li:hover {
    background-image: url(../images/nav_background_flip.gif);
    background-repeat: no-repeat;
    position: relative;
    right: 5px;
}

.current { background-image: url(../images/nav_background_flip.gif);
    background-repeat: no-repeat;
    pointer-events: none;
    position: relative;
    left: 25px;
}
/* Main */

#content image {
    float: right
}

/* Footer */
