/* Header */

header h1 {
    text-align: center
}

/* Nav */

.navbar {
    padding: 0 12% 0 16%
}

.navbar li a {
    width: 15%
}

/* Main */

#center {
    position: absolute;
    top: 10%;
    padding: 0 35%;
    width: 30%;
}

.content { 
    position: inherit;
    width: 50%;
    padding: 0 25%
}

.content h2 {
    position: inherit;
    text-align: center
}

.index {
    position: inherit;
    padding: 1% 30%;
    width: 40%;
}

.links {
    position: absolute;
    padding: 1% 35%;
}

.labs {
    float: left;
    width: 375px;
    padding: 1% 40%
}

.index h2 {
    text-align: center
}

.stylingguide {
    position: inherit;
    width: 40%;
    padding: 1% 30% 2% 30%;
}

.report {
    width: 30%;
    padding: 0 35%;
    text-align: center
}

/* Footer */
